// basic predefines
$behindPageColour: #DADADA;
$pageColour: #EAEAEA;
$primaryTextColour: #252525;
$accentColour: steelblue;

$fontBody: 'Raleway', sans-serif;
$fontTitle: 'Saira Extra Condensed', sans-serif;
$fontHeader: 'Helvetica', sans-serif;

@mixin noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin flexRow($justify: center) {
    display: inline-flex; 

    justify-content: $justify;

    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}